* {
    border: 1px solid red;
}

body {
    font-family: 'Press Start 2P', 'Arial', 'Helvetica', 'Verdana', sans-serif;
    color: white;
    /* background-color: red; */
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.header {
    text-align: center;
    background-color: #1F2937;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
}

#main {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke!important;
    padding: 50px;
    justify-content: space-around;
    gap: 20px;
}

#container {
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #888888;
}

.row {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    margin: 0!important;
}

.cell {
    /* border: 1px solid rgb(165, 53, 53); */
    flex: 1 1 auto;
    width: 5px;
    height: 100%;
}

button {
    color: white;
    background-color: rgb(89, 137, 250);
    padding: 8px 32px;
    font-size: 16px;
    border-radius: 5px!important;
    border: none;
    box-shadow: 5px 5px 2px #888888;
    width: 180px;
}

button:hover {
    box-shadow: 4px 4px 2px #acaaaa;
    background-color: rgb(64, 115, 235);
}

button:active {
    border: none;
}

#sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}


input[type = color] {
    width: 50px;
    height: 50px;
    border: none;
    align-self: center;
} 

.invisible {
    display: none;
}

.buttonActive {
    background-color: rgb(18, 85, 240);
    box-shadow: 4px 4px 2px #acaaaa;

}

#range {
    align-self: center;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
}

.footer a {
    margin-left: 5px;
    margin-right: 5px;
}


